<%= link_to new_forum_path, {:class=> "btn btn-custom", :style=> "float:right; margin-top:20px;"} do %>
    <i class="glyphicon glyphicon-plus"></i> New Forum
<% end %> 
<% @forums.each do |forum| %>
  <div class="link row clearfix">
    <h2>
      <%= link_to forum.topic, forum %><br>
      <small class="author">Submitted <%= time_ago_in_words(forum.created_at) %> ago by <%= forum.user.name %></small>
    </h2>
  </div>
<% end %>  