/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require select2
 *= require select2-bootstrap
 *= require_tree .
 *= require_self

 */

@import "bootstrap-sprockets";
@import "bootstrap";
@import 'bootstrap-datetimepicker';
@import "font-awesome-sprockets";
@import "font-awesome";

:root{
  --nku-gold: #FEC12E;
}

#logo {
	max-height: 100%;
	height: 100%;
	width: auto;
		a:hover {
    color: black;
    background-color: black;
  }
}

.navbar {
  background-color: #000;
  color: var(--nku-gold);
}

.navbar ul li{
	margin-top: 20px;
  font-size: 17px;
	a:link{
		color: white;
	}
		
	a:visited {
		color: white;
	}
	
	a:hover {
		color: var(--nku-gold)!important;
	}
	
	a:active {
		color: var(--nku-gold);
	}
}

.dropdown ul li{
		a:link{
		color: black;
	}
		
	a:visited {
		color: black;
	}
	
	a:hover {
		color: var(--nku-gold);
	}
	
	a:active {
		color: var(--nku-gold);
	}
}

#main_content {
	#content {
		float: none;
	}
	padding-top: 90px;
	padding-bottom: 100px;
	.link {
		padding: 2em 1em;
		border-bottom: 1px solid var(--nku-gold);
		.title {

			a {
				color: #FF4500;
			}
		}
	}
}

html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  min-height: 100vh;
  margin-bottom: 60px;
  background-image: image-url('NKU2.jpg');
}

.footer {
	.container {
		 background-color: var(--nku-gold);
		 width: 100%;
	}
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
}

footer {
	width: 100%;
	background-color: var(--nku-gold);
}

td{
	padding: 10px;
}

.btn-custom {
	color: black;
	background-color: var(--nku-gold);
  border-color: #f8af01;
  font-weight: 700;
  	a{
  		color: black;
			background-color: var(--nku-gold);
		  border-color: #f8af01;
		  font-weight: 700;
  	}
  	a:hover {
		  color: white;
			background-color: #de9e01;
			border-color: #f8af01;
  	}
}

.btn-custom:hover, .btn-custom:focus, .btn-custom:active{
	color: white;
	background-color: #de9e01;
	border-color: #f8af01;
}

.jumbotron { height: 150px; }

.select2-drop-mask {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      top: 0;
      z-index: 9998;
}

.next a {
    background-color: var(--nku-gold) !important;
    color: black !important;
    border-color: #f8af01;
	font-weight: 700;
}

.next a:hover {
		color: white !important;
		background-color: #de9e01 !important;
		border-color: #f8af01;
}

.wide {
  width:100%;
  height:200px;
  background-image:url('NKU4.jpg');
  background-size:cover;
}

.wide img {
  width:100%;
}

.course-title {
  color:#fff;
  font-weight:800;
  font-size:36pt;
  padding:25px;
  text-align:left;
}

.padding-left {
	padding-left:70px;
}
