.wide {
  width:100%;
  height:300px;
  background-image: image-url('NKU4.jpg');
  background-size:cover;
}

.wide img {
  width:100%;
}

.course-title {
  color:#fff;
  font-weight:800;
  font-size:26pt;
  padding:25px;
  text-align:left;
}

.padding-left {
	padding-left:70px;
}
